<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jango.js"></script>
</head>
<body>
	<div class="viewport">
		<div class="top-link">
			<a href="/Main/Index/personal" title="" class="author">摄影师黄小江</a>
			<a href="/Main/Index/index" title="" class="current">首页</a>
			<a href="/Main/Index/advertisement" title="">平面广告摄影</a>
			<a href="/Main/Index/movies" title="">影视广告</a>
			<a href="/Main/Index/ecommerce" title="">电商摄影</a>
			<a href="/Main/Index/graphic" title="">平面设计</a>
		</div>
		<div class="top-nav">
			<ul class="clearfix">
				<li class="current"><a href="/Main/Index/personal">Photographer Jango</a><b></b></li>
				<li><a href="/Main/Index/advertisement">Advertisement</a><b></b></li>
				<li><a href="/Main/Index/movies">Movies</a></li>
			</ul>
		</div>
		<div class="show-lists">
			<ul class="show-first clearfix">
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/1.jpg" alt=""></a></li>
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/2.jpg" alt=""></a></li>
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/3.jpg" alt=""></a></li>
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/4.jpg" alt=""></a></li>
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/5.jpg" alt=""></a></li>
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/6.jpg" alt=""></a></li>
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/7.jpg" alt=""></a></li>
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/8.jpg" alt=""></a></li>
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/9.jpg" alt=""></a></li>
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/10.jpg" alt=""></a></li>
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/11.jpg" alt=""></a></li>
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/12.jpg" alt=""></a></li>
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/13.jpg" alt=""></a></li>
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/14.jpg" alt=""></a></li>
				<li><a href="javascript:;" title=""><img src="__PUBLIC__/images/15.jpg" alt=""></a></li>
			</ul>
			<div class="detail-show">
				<ul class="clearfix" style="width:15000%;" id="big-show">
					<li><img src="__PUBLIC__/images/big1.jpg" alt=""></li>
					<li><img src="__PUBLIC__/images/big2.jpg" alt=""></li>
					<li><img src="__PUBLIC__/images/big3.jpg" alt=""></li>
					<li><img src="__PUBLIC__/images/big4.jpg" alt=""></li>
					<li><img src="__PUBLIC__/images/big5.jpg" alt=""></li>
					<li><img src="__PUBLIC__/images/big6.jpg" alt=""></li>
					<li><img src="__PUBLIC__/images/big7.jpg" alt=""></li>
					<li><img src="__PUBLIC__/images/big8.jpg" alt=""></li>
					<li><img src="__PUBLIC__/images/big9.jpg" alt=""></li>
					<li><img src="__PUBLIC__/images/big10.jpg" alt=""></li>
					<li><img src="__PUBLIC__/images/big11.jpg" alt=""></li>
					<li><img src="__PUBLIC__/images/big12.jpg" alt=""></li>
					<li><img src="__PUBLIC__/images/big13.jpg" alt=""></li>
					<li><img src="__PUBLIC__/images/big14.jpg" alt=""></li>
					<li><img src="__PUBLIC__/images/big15.jpg" alt=""></li>
				</ul>
			</div>
			<a href="javascript:;" title="" class="prev" id="prev"></a>
			<a href="javascript:;" title="" class="next" id="next"></a>
			<a href="javascript:;" title="" id="close-btn">&times;</a>
		</div>
		<div class="bottom-footer">
			<div class="address-detail dis-inline-block clearfix">
				<div class="fl">
					<img src="__PUBLIC__/images/contact.png" alt="">
				</div>
				<div class="fl add-cont">
					<p class="phone-num">电话:<span>13570438798</span></p>
					<p class="add">广州市白云区嘉禾黄边华联创意园302</p>
				</div>
			</div>
			<div class="quote dis-inline-block clearfix">
				<div class="fl">
					<img src="__PUBLIC__/images/price.png" alt="">
				</div>
				<div class="fl add-cont">
					<p class="phone-num">摄影业务报价</p>
					<p class="add"><a href="/Main/Index/quote" title="">点击查看业务报价表或者电话联系</a></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>