<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>报价</title>
	<link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
</head>
<body>
	<div class="viewport">
		<div class="top-link">
			<a href="/Main/Index/personal" title="" class="author">摄影师黄小江</a>
			<a href="/Main/Index/index" title="">首页</a>
			<a href="/Main/Index/advertis.html" title="">平面广告摄影</a>
			<a href="/Main/Index/movies" title="">影视广告</a>
			<a href="/Main/Index/ecommerce" title="">电商摄影</a>
			<a href="/Main/Index/graphic" title="">平面设计</a>
		</div>
		<div class="top-nav">
			<ul class="clearfix">
				<li class="current"><a href="/Main/Index/personal">Photographer Jango</a><b></b></li>
				<li><a href="/Main/Index/advertisement">Advertisement</a><b></b></li>
				<li><a href="/Main/Index/movies">Movies</a></li>
			</ul>
		</div>
		<div class="personal-wrap">
			<div class="com-header">
				<p class="english-name">PHOTOGRAPHER JANGO</p>
				<P class="chinese-name">摄影服务报价</P>
				<span class="line"></span>
			</div>
			<div class="per-cont">
				<div class="per-detail">
					<p class="chinese-detail">摄影师JANGO,平面及摄影服务报价</p>
					<p class="english-detail">THE PLANE ADVERTISEMENT PHOTOGRAPHY/BRAND IMAGE PHOTOGRAPHY/STAR PRINT AND TELEVISION<br/>
						ADVERTISING PHOTOGRAPHY
					</p>
				</div>
				<div class="per-detail mt40">
					<div class="quote-main content">
						<div class="quote-item clearfix">
							<span class="fl">平面广告：</span>
							<span class="fl">杂志封面拍摄10000元/单、杂志主题拍摄20000元/单<br/>广告拍摄设计8000元/P、平面设计400元/P</span>
						</div>
						<div class="quote-item clearfix">
							<span class="fl">电商摄影：</span>
							<span class="fl">淘宝模特100元/件、静物拍摄50-120元/件</span>
						</div>
						<div class="quote-item clearfix">
							<span class="fl">形象摄影：</span>
							<span class="fl">明星个人写真5000元/组、企业产品形象片800元/图<br/>企业形象拍摄5000元/单</span>
						</div>
						<div class="quote-item clearfix">
							<span class="fl">影视广告：</span>
							<span class="fl">淘宝展示视频800-3000元/个，根据难度要求具体报价</span>
						</div>
						<div class="quote-item clearfix">
							<span class="fl">电视广告、电影、微电影：</span>
							<span class="fl">根据企业预算具体报价</span>
						</div>
						<div class="team-desc">
							<p>黄小江自创摄影工作室“简艺摄影”分广州深圳东莞3地，4大影棚，总面积超1600方</p>
							<p>人员42人；</p>
							<p>团队核心：国内知名影视摄影师黄壮秋担任摄影组总监、导演；</p>
							<p>广东南方电视台摄影师曾彦铭</p>
							<p>揭阳风火轮影视创始人黄树锋</p>
							<p>简艺广告摄影摄影总监张柱鑫</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="bottom-footer">
			<div class="address-detail dis-inline-block clearfix">
				<div class="fl">
					<img src="__PUBLIC__/images/contact.png" alt="">
				</div>
				<div class="fl add-cont">
					<p class="phone-num">电话:<span>13570438798</span></p>
					<p class="add">广州市白云区嘉禾黄边华联创意园302</p>
				</div>
			</div>
			<div class="quote dis-inline-block clearfix">
				<div class="fl">
					<img src="__PUBLIC__/images/price.png" alt="">
				</div>
				<div class="fl add-cont">
					<p class="phone-num">摄影业务报价</p>
					<p class="add"><a href="/Main/Index/quote" title="">点击查看业务报价表或者电话联系</a></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>